<!DOCTYPE html>
<html>
<head>
<title>Create Article</title>
</head>
<body>

<form method="POST" action="/articles">
 <label>title: </label><input type="text" name="title" id="title">
 <label>content: </label><input type="text" name="content" id="content">
 <input type="submit" value="Submit">
</form>

</body>
</html>